* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main-nav {
  width: 250px;
  background-color: rgba(180, 205, 203, 1);
}

.main-nav a {
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #ffffff;
  display: block;
  padding: 10px 0 10px 20px;
  border-bottom: 1px solid gray;

}

.main-nav a:hover {
  background-color: rgba(121, 165, 162, 1);
}

.main-nav-ul ul {
  display: none;
}

.main-nav-ul li:hover ul {
  display: block;
}

.main-nav-ul ul a:before {
  content: '\203A';
  margin-right: 20px;
}

.main-nav .sub-arrow:after {
  content: '\203a';
  float: right;
  margin-right: 20px;
  transform: rotate(90deg);
}

.main-nav li:hover .sub-arrow:after {
  content: "\2039"
}