* {
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}
.carousel-container{
  position: relative;
  width:600px;
  margin: auto;
  border:5px solid #000;
  overflow:hidden;
}
.carousel-slide {
  display: flex;
  width: 100%;
}

img{
  width:600px; 
 height:380px;
}

#prevBtn{
  position: absolute;
  top:50%;
  z-index: 10;
  left:3%;
  font-size: 30px;
  color: white;
  opacity: .7;
  cursor: pointer;
}

#nextBtn{
  position: absolute;
  top:50%;
  z-index: 10;
  right:3%;
  font-size: 30px;
  color: white;
  opacity: .7;
  cursor: pointer;
}