body {
  padding: 0;
  margin: 0;
  background-color: #313131;
}
.slider {
  width: 800px;
  height: 600px;
  background: url(../assets/images/carousel1.jpg) no-repeat;
  background-size: 100%;
  margin: 100px auto;
  animation: slide 20s infinite;
}

@keyframes slide {
  25% {
    background: url(../assets/images/carousel2.jpg) no-repeat;background-size: 100%;
  }
  50% {
    background: url(../assets/images/carousel3.jpg) no-repeat;background-size: 100%;
  }
  75% {
    background: url(../assets/images/carousel4.jpg) no-repeat;background-size: 100%;
  }
  100% {
    background: url(../assets/images/carousel1.jpg) no-repeat;background-size: 100%;
  }
}
