$primary: #212123;
// $primary: #ffff00;
body,
html {
  height: 100vh;
}
body {
  background-color: $primary;
  color: #fff;
  font-family: 'Montserrat';
  display: grid;
  grid-template-columns: 80% auto;
  margin: 0;
  .simplebar-content-wrapper {
    overflow: auto;
  }
  #scroll{
    height:300px;
  }
  div p {
    margin: 1em;
    padding: 1em;
    background-color: lighten($primary, 5%);
    border-radius: 10px;
    // opacity: 0.4%;
    font-size: 0.9em;
  }
  aside {
    background-color: lighten($color: $primary, $amount: 5%);
  }

  .simplebar-scrollbar::before {
    background-color: lighten($color: $primary, $amount: 30%);
  }
  .simplebar-scrollbar {
    margin-right: 2px;
  }
}
