* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e8eaf6;
}
.iPhone {
  position: relative;
  width: 230px;
  height: 410px;
  background: url(../assets/images/s20.png) #fff;
  background-size: 82%;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(-40deg) skew(20deg, 10deg);
}
.iPhone::before {
  content: '';
  position: absolute;
  top: 0;
  left: -90px;
  width: 90px;
  height:100%;
  background:url(../assets/images/samsung_text.png) #f2f2f2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 96px;
  transform-origin: right;
  transform: skewY(-43deg);
}
.iPhone::after {
  content: '';
  position: absolute;
  bottom: -82px;
  left:0px;
  width: 100%;
  height:82px;
  background:url(../assets/images/samsung.png) #f2f2f2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 96px;
  
  transform-origin: top;
  transform: skewX(-47deg);
}
